<%= form_for(complaint, remote:true) do |f| %>
  <% if complaint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(complaint.errors.count, "error") %> prohibited this complaint from being saved:</h2>

      <ul>
      <% complaint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <% if current_user.present? %>
    <input type="hidden" name="user_id" value="<%= current_user.id %>">
  <% end %>
  <input type="hidden" name="company_id" value="<%= @company_id %>">


  <div class="actions">
    <%= f.submit %>

  </div>
<% end %>
